/* CSS for product card and modal */
@import "../productCard/index.css";
/*  */


.shoppingorder{
    max-width: 750px;
    margin: auto;
    text-align: center;
}

.text-left{
    text-align: left;
}

.order-cart-item{
    cursor: pointer;
}
.removeFromCart{
    cursor: pointer;
    color: red;
}
.no-cart{
    margin: 80px 0px 0px !important;
}

.no-cart h5{
    margin-top: 30px;
    font-size: 1.5rem !important;

}
.no-cart-search{
    color: #1468a0;
    font-size: 1.5rem !important;
    cursor: pointer;
}

.red-message{
    color: red;
    font-size: 1rem;
}
.registration-main{
    width: 60%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.registration-part{
    margin-top: 40px;
    margin-bottom: 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}
.registration-part legend{
    font-weight: 600;
    font-size: 1.5rem;
}
.registration-part label{
    font-weight: 600;
    font-size: 1.1rem;
}
.registration-part input{
    border-radius: 5px;
    text-align: center;
    width: 300px;
}
.registration-button{
    font-size: 1.3rem;
    background: var(--navbar-color);
    color: white;
    border: none;
    width: 250px;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
}