/* Orbit conatiner */
.orbit-container{
  height: 115px;
}
.orbit-image{
  height: 350px;
}

/* Development indication */
.development {
  background-color: red;
  color: white;
  font-size: 40px;
}
/*  */

.grid-container {
  margin: 0.4rem;
  max-width: 100%;
}

#content {
  min-height: 400px;
}



/* Homepage quicklink */
#example-menu > div.top-bar-left > ul > li.menu-text > a {
  padding: 0px;
}

/* Admin side navbar */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(49, 82, 121);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #cccccc;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

/*  */
#example-menu{
  padding: 20px 0px;
}
/* Search bar for product */
.top-bar input{
  max-width: 500px;
  border-radius: 10px;
}
.example-menu input{
  min-width:100%;
}

#example-menu{
  text-align: center;
}

/* Login button */
.login-button{
  margin-right: 50px;
}
#login-form{
  width: 401px;
}
.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
  max-width: 400px;
  margin: auto;
  padding: auto;
}

/* Category navbar */
.cat-bar{
  background-color: transparent;
}
.cat-bar ul{
  background-color: transparent;
}
.cat-menu{
  margin: auto;
  background-color: white;
}
.cat-button{
  background-color: white;
  border: 1px lightskyblue solid;
  border-radius: 40px;
  margin: 5px;
}

.cat-button:hover{
  background-color: rgb(241, 241, 241);
  border: 1px lightskyblue solid;
  border-radius: 40px;
  margin: 5px;
}