/* Development indication */
.development{
    background-color: red;
    color: white;
    font-size: 40px;
}
/*  */

.grid-container {
    margin: 0.4rem;
    max-width: 100%;
}

#content{
    min-height: 400px;
}

.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 0;
    max-width: 400px;
    margin: auto;
  } 