/* CSS for product card and modal */
@import "../productCard/index.css";
/*  */

.pagination{
  margin-top: 50px;
}
.pagination li{
  border-radius: 5px;
  font-size: 1.3rem;
}
.page-show-button{
  width: 80px;
  color: white;
  background-color: var(--navbar-color);
}

.total-product-message{
  font-style: italic;
  font-size: 1.1rem;
  color: gray;
}

.manufacturer-filter{
  margin-top: 65px;
  border: 5px solid var(--navbar-color);
  border-radius: 10px;
  width: 225px;
  text-align: left;
  padding: 10px;
}

.manufacturer-filter legend{
  margin:6px auto;
  font-size: 1.5rem;
  font-weight: 600;
}

.manufacturer-list{
  padding-bottom: 10px;
  margin-left: 35px;
}

.manufacturer-list label{
  font-size: 1.2rem;
}

.manufacturer-list-button{
  text-align: center;
}

.manufacturer-list-button input{
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.product-grid {
  /* text-align: center; */
  padding: 0px;
}
/* Product filter */
.product-filter{
    width: 80%;
    border: 1px solid var(--navbar-color);
}