/* CSS for cropper.js */
@import "../../cropper.css";
/*  */

.button{
    margin: 0px;
}

.red-message{
    color: red;
    font-size: 1rem;
    margin: none;
}

.product-form{
    padding: 1rem;
    border-radius: 0;
    max-width: 600px;
    margin: auto;
}

.product-form input{
    margin: none !important;
}

#photo{
    cursor: pointer;
}

.main-index{
    max-width: 80%;
    margin: 50px auto;
    min-height: 500px;
}
.form{
    padding: 1rem;
    border-radius: 0;
    max-width: 600px;
    margin: auto;
}

.total-product-message{
    font-style: italic;
    font-size: 1.1rem;
    color: gray;
  }
  
/* Pagination */
.pagination{
    margin-top: 50px;
  }
  .pagination li{
    border-radius: 5px;
    font-size: 1.3rem;
  }
  .page-show-button{
    width: 80px;
    color: white;
    background-color: var(--navbar-color);
  }